<!DOCTYPE html><html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Visualizing Algorithms - Rich Infante</title>

  <meta name="google-site-verification" content="r_DVoWOzLQpA1VnjuP7oRXjsrPD3cn84VqOshcQwB1I">

  <!-- Begin Search Engine Tagging-->
  <meta name="description" content="Using some custom code to generate interesting graphs of algorithmic operations.">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Rich Infante" href="http://localhost:4000/feed.xml">
  <!-- End Search Engine Tagging-->

  <!-- Begin Open Graph-->
  <meta property="og:title" content="Visualizing Algorithms">
  <meta property="og:type" content="blog">
  <meta property="og:description" content="Using some custom code to generate interesting graphs of algorithmic operations.">
  <!-- End Open Graph-->

  <!-- Begin Twitter Metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="richinfante">
  <meta name="twitter:creator" content="richinfante">
  <meta name="twitter:url" content="http://localhost:4000/">
  <meta name="twitter:title" content="Visualizing Algorithms">
  <meta name="twitter:description" content="Using some custom code to generate interesting graphs of algorithmic operations.">
  <!-- End Twitter Metadata -->

  <!-- Begin Icons -->
  <link rel="icon" href="/img/profile_image.jpg" type="image/png">
  <link rel="shortcut icon" href="/img/profile_image.jpg" type="image/png">
  <!-- End Icons-->

  
  
</head>
<body>
  <header>
    <h1 id="{{child.page.title}}">Visualizing Algorithms</h1>
    <p>filed under:<b>
      <a href="/tags/notes">notes</a>
    </b><b>
      <a href="/tags/javascript">javascript</a>
    </b></p>
  </header>
  <main>
    <h2 id="introduction">Introduction</h2>
<p>I recently  <a href="https://twitter.com/richinfante/status/959984976090619904">shared this on twitter</a>, and wanted to share a bit more about how I did it:</p>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Different portions of the sha-256 algorithm (two rounds), visualized bit-by-bit as a directed graph (first ~30k, ~100k nodes, last ~100k nodes). A result of one of my recent experiments! <a href="https://t.co/cK2dLj9haT">pic.twitter.com/cK2dLj9haT</a></p>— <a href="https://twitter.com/richinfante/status/959984976090619904">Rich Infante (@richinfante) February 4, 2018</a></blockquote>
<div class="image-wrapper">
  <div class="image">
    <img src="/img/sha/fish.png" label="A random sample of 1000 or so bitwise ops">
    <label>A random sample of 1000 or so bitwise ops</label>
  </div>
</div>
<h2 id="background">Background</h2>
<p>I’m not quite ready to open source the code yet since it lacks polish, but I’d like to explain a little about how it works and share a few interesting snippets from it. Essentially, I created a library that symbolically solves everything, at relatively small (but noticeable) performance cost. It’s written in javascript which I chose since it was the most forgiving and many parts of my early prototypes relied on its more-or-less non-existent type system. Using a lower-level language like C would probably alleviate some of the cost, but performance is not so much of a problem that a rewrite would be beneficial. The initial algorithm I chose to analyze was sha-256 which I chose because it’s a hash algorithm so the internal structure would (hopefully) look cool. I eventually ended up using <code>sha256(sha256(x))</code> as the function with hopes that it’d produce something interesting.</p>
<p>The library symbolically solves everything in terms of individual bits. This generates a rather large amount of data, but can theoretically be changed to more manageable operations like addition, subtraction, etc… Below is a snippet from my testing suite to illustrate what I mean:</p>
<pre lang="js"><code>tap.test('OpBitwiseAnd', function (childTest) {
  childTest.equal(new OpBitwise(new Bit(0), new Bit(0), FuncOpAnd).output.value, 0)
  childTest.equal(new OpBitwise(new Bit(1), new Bit(0), FuncOpAnd).output.value, 0)
  childTest.equal(new OpBitwise(new Bit(0), new Bit(1), FuncOpAnd).output.value, 0)
  childTest.equal(new OpBitwise(new Bit(1), new Bit(1), FuncOpAnd).output.value, 1)
  childTest.end()
})
</code></pre>
<p>To more easily simulate operations such as addition, I had to create them as you would create a digital logic circuit from primitive logic gates. For my sha-256 example, I created the bit-rotation and sigma functions in a similar manner.</p>
<pre lang="js"><code>// A single bit-adder with a left, right, and carry.
class OpBitFullAdder {
  constructor (left, right, carry) {
    carry = carry || new Bit(0, false, false, 'k0')

    this.xor1 = new OpBitwise(left, right, FuncOpXor)
    this.xor2 = new OpBitwise(this.xor1.output, carry, FuncOpXor)
    this.and2 = new OpBitwise(carry, this.xor1.output, FuncOpAnd)
    this.and1 = new OpBitwise(left, right, FuncOpAnd)
    this.or = new OpBitwise(this.and1.output, this.and2.output, FuncOpOr)

    this.output = [ this.xor2.output, this.or.output ]
  }
}
</code></pre>
<p>The “output” property on each of my classes was essentially a reference to an array of the bits that the operation outputted. These bits would, in turn, reference the bits and operations inside of the operation it’self and the flow out to the inputs.</p>
<pre lang="js"><code>// Sha256 Sigma0 Operation
module.exports.Sigma0 = function Sigma0 (input) {
  var rot2 = new OpRotateRight(input, 2)
  var rot13 = new OpRotateRight(input, 13)
  var rot22 = new OpRotateRight(input, 22)

  var xor1 = new OpGroup(rot2.output, rot13.output, OpBitwise, FuncOpXor)
  var xor2 = new OpGroup(xor1.output, rot22.output, OpBitwise, FuncOpXor)

  return xor2
}
</code></pre>
<p>From this point, it’s as simple as defining what problem to solve, and then accessing the computational tree that’s produced to generate the output.</p>
<h2 id="generating the visualization">Generating the visualization</h2>
<p>To generate the output, I settled on the <a href="https://en.wikipedia.org/wiki/DOT_(graph_description_language)">dot file format</a>, which is formatted like the snippet below. I chose this format since each line simply specifies a connection between two nodes, and each line does not need to be aware of any of the other references. In my generated output, I both the bitwise operations and the variables that were inputs to them were displayed as nodes in the graph, and lines were the references between them. In order to output the graph, I simply needed to iterate over the list of operations that I had collected through the course of the computation and print their contents to a file.</p>
<pre lang="dot"><code>digraph G {
    A -&gt; B;
    A -&gt; C;
    C -&gt; B;
}
</code></pre>
<h2 id="gallery">Gallery</h2>
<p>Here’s a selection of some of the generated visualizations. Originally, I attempted to utilize GraphViz’s dot renderer to render images of my output, but it became clear after 10 minutes of running that it’s layout algorithms weren’t too happy with the huge amount of data. Eventually, I found a program called <a href="https://gephi.org/">Gephi</a>, which let me display the directed graphs I outputted without too much trouble. For some of the runs, I disabled variables outputting and just let operations fill the graph, which produced a more noticeable structure.</p>
<div class="image-wrapper">
  <div class="image">
    <img src="/img/sha/shabeginning-50k.png" alt="The first ~50k operations">
    <label>The first ~50k operations. This includes the initial preparation of the message blocks</label>
  </div>
</div>
<div class="image-wrapper">
  <div class="image">
    <img src="/img/sha/first100k.png" alt="The first ~100k operations">
    <label>The first ~100k operations</label>
  </div>
</div>
<div class="image-wrapper">
  <div class="image">
    <img src="/img/sha/sha256-100k.png" alt="The last ~100k operations.">
    <label>The last ~100k operations.</label>
  </div>
</div>
<div class="image-wrapper">
  <div class="image">
    <img src="/img/sha/doublesnake.png" alt="The last ~100k operations.">
    <label>I neglected to record what this one was of, but it looks cool.</label>
  </div>
</div>
<h2 id="next steps">Next steps</h2>
<p>These outputs seem promising for both analysis of complexity and the fact that they just look cool. In the future, I may want to take this a step further and explore generating these from a compiled C (or any) program, and porting the library to other languages. I’d expect that this sort of tracking would incur both memory and runtime penalties that are a constant proportion of the existing program’s existing time complexity. However, that approach may be a very time-consuming process and it might be easier if access to the source code is available to perform a c-macro style replacement instead. This may not be applicable to algorithms outside the “math” space at its current stage, but theoretically, it can be used to analyze things like databases, application networking, and other things like complexity analysis.</p>
<p>If you found this interesting, feel free to follow me on twitter <a href="https://twitter.com/richinfante">@richinfante</a>, and let me know if you have any comments, corrections, or thoughts!</p>

  </main>
  <footer>
    <p>copyright © 2015-2019 rich infante. All Rights Reserved.</p>
<pre>Built at: 30/07/2019, 09:43:18
Version: 0.1.0
SpiderMonkey Version: JavaScript-C60.0.3
</pre>
    <pre style="white-space: break-spaces;"># docgen

**NOTE: Docgen is experimental software. It's not feature complete, and doesn't work half the time. It's extremely unstable, and this repo is published mostly for feedback purposes. No not rely on this software.**

Docgen is a static site renderer which is built using servo's html5ever and spidermonkey. It aims to make static site generation to be effortless and removing templating languages such as liquid.

Docgen's template syntax is based on / inspired by the syntax used by vuejs's templates. the rationale behind this is that all templates become are normal HTML pages and do not need extra text nodes containing the conditional / template logic. (like liquid, mustache, others..). This means pages can be developed and tested in their pure template form, without needing much (or any) tooling to do so in a nice way.

Templates also allow &lt;script&gt; tags to be run (At compile time) with the `static` attribute set.

Please note that the generation does **NOT** currently expose the normal javascript dom api, such as `document.createElement`, etc. It is an empty javascript context only used for templating. If this feature would be useful to you, file an issue with use cases / info.

## Feature Roadmap
these are features I'd like to have initially, in no particular order.
- [x] add html parser
- [x] add js engine
- [x] conditional logic with `x-if` (tentative name)
- [x] attribute variable expansion (`:href="link.title"` with `link = { title: 'HI' }` -&gt; `href="HI"`)
- [x] layout includes via `layout` js variable and `x-content-slot` attribute.
- [x] iteration logic with `x-each` (tentative name) **Experimentally Implemented**
- [~] conditional css class generation (similar to vuejs's :class attribute). (can do bind `:class="compute_class_string_fn()"`)
- [x] html partials via `&lt;slot src="file.html"&gt;&lt;/slot&gt;`.
- [~] filesystem interaction - allow simple load to string from fs
- [ ] raw html
- [ ] way to extract the contents of a div to replace it. Potentially called `x-extract`
- [ ] json/yaml/etc data file loading for configuration / data.
- [ ] markdown support with front-matter data + rendering (similar to jekyll)
- [ ] page-fork rendering: instead of iterating a page via `x-each`, render multiple copies of a page with different elements. To be used for dynamic tagging.
- [ ] helper application to call the main `docgen` binary for site generation. This is the template engine, from which the actual site generator will discover supported template pages and render them for upload.

## Building from source
```bash
brew install yasm autoconf
set AUTOCONF="$(which autoconf)"
cargo build
```

## Runing example
```bash
cargo run -- -i examples/demo.html
```

## Process
1. render the page to html if it's markdown.
2. render using the main `docgen` process, in a top-down manner.
  - evaluate any `script static` tags.
  - replace all template variables

## Template Examples
At the moment, docgen only produces processes html templates. This will change in the future, with options for markdown, etc.

### Source Template
```html
&lt;html&gt;
&lt;head&gt;
  &lt;script static&gt;
  let links = [{
    href: 'https://google.com',
    title: 'google'
  }, {
    href: 'https://apple.com',
    title: 'apple'
  },{
    href: 'https://amazon.com',
    title: 'amazon'
  }]
  &lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;ul&gt;
    &lt;li x-for="link in links"&gt;
      &lt;a :href="link.href"&gt;{{link.title}}&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;
```

### Result Output
```html
&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;ul&gt;
    &lt;li&gt;
      &lt;a href="https://google.com"&gt;google&lt;/a&gt;
    &lt;/li&gt;&lt;li&gt;
      &lt;a href="https://apple.com"&gt;apple&lt;/a&gt;
    &lt;/li&gt;&lt;li&gt;
      &lt;a href="https://amazon.com"&gt;amazon&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/body&gt;
&lt;/html&gt;
```

## Converting from liquid
### If statements
```html
{% if variable_name %}
&lt;span&gt;Hello, World!&lt;/span&gt;
{% endif %}
```

```html
&lt;span x-if="variable_name"&gt;Hello, World&lt;/span&gt;
```

### Attribute bindings
```html
&lt;span class="{{className}}"&gt;Test&lt;/span&gt;
```

Note: the `:class` binding *may* be updated in the future to allow a dictionary, which in turn renders to a space-separated class string based on all the keys that have truthy values. (equivalent to: `Object.entries(classDict).filter(el =&gt; el[1]).map(el =&gt; el[0]).join(' ')`)

```html
&lt;span :class="className"&gt;Test&lt;/span&gt;
```


### For loops
note: for loops are not feature complete. All for loops currently bind to `item` and the syntax is likely to change.
```html
&lt;ul&gt;
{% for item in items %}
  &lt;li&gt;
    &lt;a href="{{item.url}}"&gt;{{item.title}}&lt;/a&gt;
  &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
```

```html
&lt;ul&gt;
  &lt;li x-for="item in items"&gt;
    &lt;a :href="item.url"&gt;{{item.title}}&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;!-- or: --&gt;
&lt;ul&gt;
  &lt;li x-each="items" x-as="item"&gt;
    &lt;a :href="item.url"&gt;{{item.title}}&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
```

### Template Extension
**hello.md**
```md
&lt;script&gt;
layout = './base.html'
title = 'Example'
&lt;/script&gt;

# Hello, World
```

**base.html**
```html
&lt;html&gt;
  &lt;head&gt;{{child.title}}&lt;/head&gt;
  &lt;body&gt;
    &lt;div x-content-slot&gt;&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
```

**out.html**
```html
&lt;html&gt;
  &lt;head&gt;Example&lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, World&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;
```

### HTML Include
This currently only works with HTML files.
In a later revision, they will work with all supported types.

```md
&lt;slot src="./example.html"&gt;&lt;/slot&gt;
```

</pre>
  </footer>


</body></html>
